@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none !important;
}

body {
    min-height: 160vh;
    /* Nom exact avec deux 'u' pour ton image */
    background: url('fondaccueuil.jpg') no-repeat center center fixed !important;
    background-size: cover !important;
    background-color: #3B505C;
    font-family: sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo img {
    height: 70px;
}

header nav ul {
    display: flex;
    gap: 30px;
}

header nav ul li a {
    text-decoration: none;
    font-family: "Californian FB", serif;
    font-weight: bold;
    font-size: 1.1rem;
    color: #1D70B7;
}

header nav ul li a.active {
    color: #87B347;
}

.main-title {
    position: fixed;
    top: 15%;
    width: 100%;
    text-align: center;
    font-family: 'Gochi Hand', cursive;
    font-size: 4.2rem;
    color: #3B505C;
    text-shadow: 2px 2px 0px #FFFFFF, -2px -2px 0px #FFFFFF, 2px -2px 0px #FFFFFF, -2px 2px 0px #FFFFFF;
}

/* DESIGN GÉLULE AMÉLIORÉ */
.speech-bubble {
    position: fixed;
    top: 52%; 
    left: 55%; 
    background-color: #EADC9B; /* Couleur sable */
    
    /* Plus de padding pour la forme allongée */
    padding: 25px 60px; 
    border-radius: 100px; /* Coins totalement arrondis */
    
    /* Ombre blanche nette épaisse */
    box-shadow: 10px 10px 0px #FFFFFF; 
    
    z-index: 500;
    opacity: 0;
    /* Animation : glisse depuis la gauche */
    transform: translateX(-300px);
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.5s ease-out;
}

.visible {
    opacity: 1 !important;
    transform: translateX(0) !important;
}

.speech-bubble p {
    color: #684132; /* Marron foncé du texte */
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4;
    margin: 0;
}
