@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

/* Reset pour supprimer les points du menu et coller le fond */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none !important;
}

body {
    height: 160vh; /* Hauteur pour permettre le scroll */
    background: url('image_abdb77.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* MENU - Californian FB / Bleu 1D70B7 / Vert 87B347 */
header nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 30px 60px;
    gap: 25px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header nav ul li a {
    text-decoration: none;
    font-family: "Californian FB", serif;
    font-weight: bold;
    font-size: 20px;
    color: #1D70B7;
}

header nav ul li a.active {
    color: #87B347;
}

/* TITRE - Gochi Hand / Couleur 3B505C / Ombre Blanche */
h1 {
    position: fixed;
    top: 15%;
    width: 100%;
    text-align: center;
    font-family: 'Gochi Hand', cursive;
    font-size: 4rem;
    color: #3B505C;
    text-shadow: 2px 2px 0px #FFFFFF, -2px -2px 0px #FFFFFF, 2px -2px 0px #FFFFFF, -2px 2px 0px #FFFFFF;
}

/* LA BULLE - Apparition par la GAUCHE */
.speech-bubble {
    position: fixed;
    top: 45%;
    left: 38%;
    background-color: #EADC9B;
    padding: 25px 40px;
    border-radius: 40px;
    box-shadow: 5px 5px 0px #FFFFFF;
    z-index: 500;
    
    /* CACHÉ À GAUCHE AU DÉPART */
    opacity: 0;
    transform: translateX(-400px); /* Hors champ à gauche */
    transition: transform 0.8s ease-out, opacity 0.5s ease-out;
}

/* Classe ajoutée par le JS au scroll */
.visible {
    opacity: 1 !important;
    transform: translateX(0) !important;
}

.speech-bubble p {
    color: #684132;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 0px #FFFFFF;
    margin: 0;
}
