@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; list-style: none !important; }

body {
    height: 180vh; 
    background: url('image_abdb77.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* MENU - Californian FB & Couleurs exactes */
header nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 40px 60px;
    gap: 30px;
    position: fixed;
    width: 100%;
}

header nav ul li a {
    text-decoration: none;
    font-family: "Californian FB", "Georgia", serif;
    font-weight: bold;
    font-size: 22px;
    color: #1D70B7;
}

header nav ul li a.active { color: #87B347; }

/* TITRE - Gochi Hand & Ombre nette */
h1 {
    position: fixed;
    top: 15%;
    width: 100%;
    text-align: center;
    font-family: 'Gochi Hand', cursive;
    font-size: 4.8rem;
    color: #3B505C;
    text-shadow: 3px 3px 0px #FFFFFF;
}

/* BULLE - Animation "Flèche" */
.speech-bubble {
    position: fixed;
    top: 45%;
    left: 38%;
    background-color: #EADC9B;
    padding: 25px 35px;
    border-radius: 30px 30px 30px 5px; /* Coin bas-gauche pointu */
    box-shadow: 6px 6px 0px #FFFFFF;
    z-index: 500;
    
    /* État initial : minuscule et invisible au point d'origine (le perso) */
    opacity: 0;
    transform: scale(0) translate(-50px, 50px); 
    transform-origin: bottom left; /* L'animation part du coin bas-gauche */
    transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1); /* Effet ressort */
}

/* La pointe de la bulle pour faire plus "graphisme" */
.speech-bubble::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    border-width: 15px 15px 0 0;
    border-style: solid;
    border-color: #EADC9B transparent transparent transparent;
}

.visible {
    opacity: 1 !important;
    transform: scale(1) translate(0, 0) !important;
}

.speech-bubble p {
    color: #684132;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    text-shadow: 1px 1px 0px #FFFFFF;
}
