/* --- LE FOND CORRECT --- */
.home-bg {
    background: url('fondaccueil.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

/* --- NAVIGATION --- */
header nav { display: flex; justify-content: space-between; align-items: center; padding: 15px 60px; }
.logo img { height: 90px !important; width: auto; }

header nav ul { display: flex; list-style: none; gap: 30px; }
header nav ul li a { 
    text-decoration: none; 
    font-family: "Californian FB", serif; 
    font-weight: bold; 
    font-size: 20px; 
    color: #1D70B7 !important; /* Bleu */
}
header nav ul li a.active { color: #92B73E !important; } /* Vert Accueil */

/* --- TITRE --- */
.main-title {
    position: fixed;
    top: 160px;
    width: 100%;
    text-align: center;
    font-family: 'Gochi Hand', cursive;
    font-size: 4.2rem;
    color: #3B505C;
    text-shadow: 2px 2px 0px #FFF, -2px -2px 0px #FFF;
    z-index: 10;
}

/* --- LA BULLE BEIGE --- */
.speech-bubble {
    position: fixed;
    top: 52%; 
    left: 48%;
    transform: translate(-50%, -50%);
    background-color: #EADC9B; 
    padding: 25px 45px;
    border-radius: 30px;
    box-shadow: 8px 8px 20px rgba(0,0,0,0.1);
    cursor: pointer;
    z-index: 500;
    transition: all 0.5s ease;
}

/* La pointe vers la gauche */
.speech-bubble::after {
    content: '';
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 15px 30px 15px 0;
    border-color: transparent #EADC9B transparent transparent;
}

.speech-bubble p {
    color: #684132;
    font-family: "Californian FB", serif;
    font-weight: bold;
    text-align: center;
    font-size: 1.8rem;
    margin: 0;
    line-height: 1.2;
}

/* --- LES SERVICES --- */
.services-container {
    display: none;
    opacity: 0;
    justify-content: center;
    gap: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    z-index: 600;
}

.service-card {
    background-color: #EADC9B;
    border-radius: 20px;
    padding: 40px 20px;
    width: 320px;
    text-align: center;
    box-shadow: 10px 10px 25px rgba(0,0,0,0.1);
}

.service-card img { height: 110px; margin-bottom: 25px; }
.service-card p { color: #684132; font-family: "Californian FB", serif; font-size: 1.4rem; font-weight: bold; }
