@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

/* --- BASES --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none !important;
}

body {
    min-height: 100vh;
    background: url('fondaccueuil.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    transition: background-image 0.5s ease;
}

/* --- LE MENU --- */
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 20px 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img { height: 105px; }

header nav ul li a {
    text-decoration: none;
    font-family: "Californian FB", serif;
    font-weight: bold;
    font-size: 24px;
    color: #1D70B7;
    margin: 0 10px;
}

header nav ul li a.active {
    color: #87B347;
    border-bottom: 4px solid #87B347;
}

/* --- ACCUEIL --- */
.main-title {
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
    font-family: 'Gochi Hand', cursive;
    font-size: 4rem;
    color: #3B505C;
    text-shadow: 2px 2px 0px #FFFFFF;
}

.speech-bubble {
    position: absolute;
    top: 440px; 
    left: 440px;
    background-color: rgba(234, 220, 155, 0.9);
    padding: 20px 30px;
    border-radius: 25px;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.5s ease-out;
}

.speech-bubble.visible { opacity: 1; transform: scale(1); }

.services-container {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    gap: 20px;
}

.service-card {
    background-color: rgba(234, 220, 155, 0.85);
    border-radius: 20px;
    padding: 30px 20px;
    width: 280px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.service-card img { height: 100px; margin-bottom: 20px; }

/* --- PROJETS --- */
#section-projets {
    padding-top: 140px;
    min-height: 100vh;
}

.quote-projets {
    font-family: 'Gochi Hand', cursive;
    color: #1D70B7;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.project-card {
    background: white;
    aspect-ratio: 1.5;
    border-radius: 10px;
    position: relative;
}

.leaf { position: absolute; width: 40px; }
.l1 { top: -15px; left: 20%; }
.l2 { top: -15px; right: 10%; }
.l3 { top: -15px; left: 45%; }
