:root {
    --blue-slate: #3B505C;
    --brown-text: #684132;
    --beige-main: #EADC9B;
    --beige-bg: rgba(234, 220, 155, 0.95);
    --font-text: 'Californian FB', serif; /* TA TYPO */
    --font-title: 'Gochi Hand', cursive;
}

/* --- BULLE --- */
#mission-bubble {
    position: relative;
    background: var(--beige-bg);
    border: 3px solid var(--beige-main);
    border-radius: 20px;
    width: 320px; height: 260px;
    display: flex; justify-content: center; align-items: center;
    padding: 20px;
    opacity: 0; /* Caché au départ */
    font-family: var(--font-text);
}

#mission-bubble p {
    color: var(--brown-text);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

/* Triangle vers le personnage (à gauche) */
.bubble-triangle {
    position: absolute; left: -28px; top: 50%; transform: translateY(-50%);
    border-top: 20px solid transparent; border-bottom: 20px solid transparent;
    border-right: 28px solid var(--beige-main);
}

/* --- CARTES --- */
#cards-container {
    display: flex; 
    gap: 20px;
    opacity: 0; /* Caché au départ */
    margin-left: 40px;
}

.card {
    background: var(--beige-bg);
    border: 3px solid var(--beige-main);
    border-radius: 20px;
    width: 240px; height: 340px;
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    padding: 20px;
    font-family: var(--font-text);
    text-align: center;
}

.card img { width: 90px; margin-bottom: 20px; }
.card p { color: var(--brown-text); font-size: 1.1rem; font-weight: bold; }

/* --- CLASSES D'ANIMATION --- */
.show-element {
    animation: fadeIn 0.8s ease-out forwards;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10) }
    to { opacity: 1; transform: translateY(0); }
}
